     body {
      direction: RTL;
    }
	
	ul#menu {
    padding: 0;
    display: table;
    width: 100%;
}

ul#menu li {    
	display: table-cell;
	width: 17%;
}

ul#menu li a {
    width: 100%;
    background-color: black;
    color: white;	
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#menu li a:hover {
    background-color: orange;
	}
#section1 {
    width: 48%;
	height:40%;
    float:left;
    padding:5px;	 	 
}	
#section2 {
    width: 48%;
	height:40%;
    float:right;
    padding:5px;	 	 
}	
#section3 {
    width: 48%;
	height:40%;
    float:left;
    padding:5px;	 	 
}	
#section4 {
    width: 48%;
	height:40%;
    float:right;
    padding:5px;	 	 
}	
	

  